/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}


#language {
  ul {
    display: flex;
    flex-direction: row;
    background: black;
    color: white;
    font-size: 30px;
    justify-content: space-between;
    padding: 2px 5px 0 5px;
  }

  abbr {
    text-decoration: none;
    cursor: pointer;
    &.dotted {
      text-decoration: underline;
      text-decoration-style: dotted;
    }
  }
}

html {
  background: linear-gradient(#DDD8F4, #fff) no-repeat;
}

@font-face {
  font-family: 'Buffon Regular';
  src: url('./fonts/buffon-regular.otf');
}

.br {
  font-family: 'Buffon Regular';
}

@font-face {
  font-family: 'Buffon Thin';
  src: url('./fonts/buffon-thin.otf');
}

.bt {
  font-family: 'Buffon Thin';
}

@font-face {
  font-family: 'Compagnon Light Italic';
  src: url('./fonts/compagnon-lightitalic.otf');
}

.cli {
  font-family: 'Compagnon Light Italic';
}

@font-face {
  font-family: 'Compagnon Roman';
  src: url('./fonts/compagnon-roman.otf');
}

.cr {
  font-family: 'Compagnon Roman';
}

@font-face {
  font-family: 'Compagnon Light';
  src: url('./fonts/compagnon-light.otf');
}
.cl {
  font-family: 'Compagnon Light';
}

body {
  font-family: 'Compagnon Light';
}

.logo {
  position: fixed;
  right: 30px;
  top: 15px;
}

.page-wrapper {
  margin: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 40px;
}

.left {
  .bad-bunny {
    max-width: 420px;
  }
}

.intro {
  font-size: 58px;
  max-width: 900px;
  .cr, .cl {
    font-size: 28px;
  }
  span {
    display: inline-block;
  }

  h1 {
    position: relative;
    .cli {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  p.cli {
    font-size: 15px;
  }

  a {
    text-decoration: none;
  }

}

.info-bubble {
  max-width: 650px;
  border: 1px solid black;
  padding: 5px 5px 10px;
  background: white;
  position: absolute;
  bottom: -28px;
  left: 0;
  p {
    font-size: 20px;
    font-family: 'Compagnon Light Italic';
  }
}

.intro::selection {
  background: black;
  color: white;
}

.folder-wrapper {
  position: relative;
  margin-top: 40px;
}

.word-folder {
  cursor: pointer;
  position: absolute;
  background: url('imgs/folder.svg');
  background-size: contain;
  border-color: #767676;
  height: 349px;
  background-repeat: no-repeat;
  width: 469px;
  h2 {
    font-size: 2rem;
    margin-left: 10px;
  }

  p {
    font-size: 22px;
  }

  h3 {
    display: inline-block;
    font-size: 70px;
    vertical-align: top;
    margin-left: 13px;
  }
  

  .title {
    display: flex;
  }

  .appear {
    font-size: 15px;
  }

  li {
    font-size: 18px;
  }

  @media(max-width: 1050px) {
    height: 249px;
    width: 330px;

    h3 {
      font-size: 30px;
    }

    li {
      font-size: 12px;
    }

    h2 {
      font-size: 19px;
    }
  }
}

.text-wrapper {
  margin-top: 20px;
  padding: 10px;
}

.react-draggable-dragging {
  filter: drop-shadow(rgb(0, 255, 31) 2px 4px 6px);
}

.wrapper {
  margin: 44px 50px 50px ;
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    max-width: 400px;
    margin-top: 100px;
  }
}

.footer-text-wrapper {
  max-width: 600px;

  h2 {
    font-size: 30px;
    background: black;
    color: white;
    padding-bottom: 10px;
    display: inline-block;
    a:hover {
      background: white;
      color: black;
    }
  }

  .footer-text p {
    line-height: 1.2;
    font-size: 15px;
  }

  h3 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 40px;
    
  }
  p {
    font-size: 23px;
    line-height: 1.2;
  }

  a:hover {
    background: black;
    color: white;
  }
}